.container {
    margin: 40px 0;
    display: flex;
    align-items: center;
    
    &.container > div:first-child {
        width: 245px;
        height: 44px;

       & p {
            font-weight: 500;
            font-size: 20px;
        }
    }
    & button {
        padding: 12px 13px;
    }
}